<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="input-group mb-3">
     <label style="font-weight: bold; color: #61699a">Sort By: &nbsp;</label>
    <select class="btn btn-secondary btn btn-success "  id="inputGroupSelect01" [(ngModel)]="sortMenu">
        <option value="name">Name</option>
        <option value="year">Year</option>
        <option value="date">Date</option>
    </select>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filteredString">
    <button [routerLink]="'wish-list'" type="button" class="btn btn-secondary" >Wish List</button>
    <button [routerLink]="'add-new-movie'" type="button" class="btn btn-success" >Add new movie</button>
  </div>
</nav>

<div class="over_main">
  <app-movie *ngFor="let movies of storage | orderBy:sortMenu | search:filteredString" [movie]="movies">

  </app-movie>
</div>
<div class="clearfix">
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
