<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> <a class="header_title"><img [routerLink]="''"
                                        class="logo_img"
                                        src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Bestmovie_Logo_black.png"
                                        alt=""></a>
    </span>
    <span style="flex: 1 1 auto"></span>
    <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode"
    >Switch Theme
    </mat-slide-toggle>
  </mat-toolbar-row>
</mat-toolbar>
