<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="input-group mb-3">
    <select class="btn btn-secondary btn btn-success" id="inputGroupSelect01">
      <option selected>Sort by...</option>
      <option [value]="'vote_count.desc'">Name</option>
      <option [value]="'popularity.desc'">Year</option>
      <option [value]="'release_date.desc'">Date</option>
    </select>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

</nav>

