@import "~material-design-icons-iconfont/dist/material-design-icons";
/*@import 'material-icons/iconfont/material-icons.css';*/
/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*________________________________________________________*/
/* You can add global styles to this file, and also import other style files */


.nav-right {
  position: absolute;
  right: 10px;
}

.main-content {
  padding: 20px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: block;
}

.example-card {
  width: 350px;
  margin: 10px;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

@media only screen and (max-width: 720px) {
  .mat-card-subtitle,
  .mat-card-content,
  .mat-card-header .mat-card-title {
    font-size: 16px;
  }
}

.fa-heart {
  color:deeppink;
  cursor: pointer;
}
@import "~@angular/material/theming";
@include mat-core();

$mat-primary-scheme: (
  100: #c5cae9,
  500: #61699a,
  700: #303f9f,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #ffffff,
    700: #ffffff,
  ),
);
$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-mode {
  @include angular-material-theme($app-dark-theme);

  background-color: #333;
  color: whitesmoke;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.d-flex {
  display: flex;
}

.ml-3 {
  margin-left: 1rem;
}
